@import "tailwindcss";


 /* Body font */
body {
  font-family: 'Inter', sans-serif;
}

/* Headings font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

:root {
  --primary:  #111111;
}

/* Text color */
.text-primary {
  color: var(--primary);
}

/* Background color */
.bg-primary {
  background-color: var(--primary);
}

/* Border color */
.border-primary {
  border-color: var(--primary);
}

